*bak*
*tmp*

# Astro/Node build artifacts
.astro/
dist/
node_modules/
public/

# Agents
.codegraph
.debug-journal.md
.omo
.sisyphus
.workbuddy

# Byte-compiled
__*cache__
.ipynb_checkpoints
~$*.*
.~*.*
*.egg-info

# Environments
desktop.ini
.idea
.vscode
.clion.source.upload.marker

# datasets and projects
.DS_Store
cmake-build*
build
log
runs
install
